.card-list-add-wrapper {
    min-width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    .card-list-add-open {
        background-color: #ebecf0;
        border-radius: 3px;
        height: auto;
        min-height: 32px;
        padding: 4px;
        .card-list-add-input {
            // height: 100%;
            padding: rem(5px) rem(10px);
            border: 2px solid $clr1;
            width: 100%;
            border-radius: $borderRad1;
            font-size: 14px;
            resize: none;
            // transition: all 1s;
            font-size: rem(16px);
        }
        div {
            display: flex;
            align-items: center;

            button {
                margin-inline-end: 5px;
            }
            svg {
                cursor: pointer;
                color: #6b778c;
                font-size: 24px;
                &:hover {
                    color: #172b4d;
                }
            }
        }
        // transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    }
    .card-list-add {
        color: $clr2;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: $borderRad1;
        background-color: hsla(0, 0%, 100%, 0.24);
        padding: 10px 12px;
        transition: background-color 85ms ease-in;
        svg {
            margin-inline-end: 5px;
            width: 16px;
            height: 16px;
        }
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.32);
        }
    }
}
