.color-palette {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    label[name="label-color"] {
        width: 48px;
        height: 32px;
        margin: 0 rem(8px) rem(8px) 0;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            filter: brightness(90%);
        }
    }
    input[type="radio"] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }
    svg {
        z-index: 2;
    }
}
