.card-details-container {
    overflow-y: scroll;
    top: 0;
    padding: 48px;
    height: 100%;
    width: 100%;
    z-index: 4;
    position: fixed;

    &::after {
        content: "";
        display: block;
        height: 50px;
    }

    .card-details {
        color: $clr7;
        background-color: $bgClr1;
        border-radius: $borderRad1;
        max-width: 768px;
        position: absolute;
        z-index: 4;
        top: 48px;
        right: 0;
        left: 0;
        margin: 0 8px;

        .close-window-btn {
            cursor: pointer;
            color: $clr7;
            background-color: transparent;
            border-radius: 50%;
            border: none;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 4px;
            right: 4px;
            z-index: 10;
            transition: background-color 85ms, color 85ms;

            &.cover-mode {
                background-color: rgba(0, 0, 0, 0.08);
                color: #3d3b3b;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.16);
                    color: $clr7;
                }
            }

            &:hover {
                background-color: rgba(9, 30, 66, 0.08);
            }

            &:active {
                background-color: rgba(9, 30, 66, 0.25);
            }
        }

        .card-details-archived {
            > *:first-child {
                font-size: 20px;
                margin-inline-end: 22px;
            }
            background-color: #fdfae5;
            background-image: linear-gradient(
                to bottom right,
                rgba(0, 0, 0, 0.05) 25%,
                transparent 25%,
                transparent 50%,
                rgba(0, 0, 0, 0.05) 50%,
                rgba(0, 0, 0, 0.05) 75%,
                transparent 75%,
                transparent
            );
            background-size: 14px 14px;
            min-height: 30px;
            padding: 12px;
            position: relative;
            h3 {
                font-size: 16px;
                line-height: 30px;
            }
        }

        .card-details-header {
            max-width: 672px;
            margin: 20px 16px 8px 16px;
            .header-content {
                width: 100%;
                svg {
                    width: 25px;
                    height: 25px;
                    margin-inline-end: 17px;
                }

                textarea {
                    color: $clr7;
                    background-color: transparent;
                    border: 0;
                    border-radius: $borderRad1;
                    box-shadow: unset;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    margin: -4px -8px;
                    min-height: 24px;
                    padding: 4px 4px;
                    resize: none;
                    transition: box-shadow 0.3s;

                    &:focus {
                        background-color: #fff;
                        box-shadow: inset 0 0 0 2px $clr1;
                    }
                }
            }
            .bottom-list-name {
                color: $clr3;
                margin-inline-start: 40px;
                span {
                    text-decoration: underline;
                }
            }
        }
        .card-details-main-container {
            display: flex;
            flex-direction: column;
            .card-details-items {
                margin-inline-start: 40px;
                margin-bottom: 20px;
                align-items: flex-start;
                .card-details-item-header {
                    color: $clr3;
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0 8px 4px 0;
                    text-transform: uppercase;
                }
                .item-container {
                    margin: 0 8px 8px 0;
                }
            }

            .card-details-main {
                max-width: 552px;
                margin: 16px 16px 0 16px;
            }
        }

        .window-modal-title {
            height: 32px;
            margin-bottom: 12px;
            h3 {
                font-weight: bold;
                margin-inline-end: rem(8px);
            }

            svg {
                width: 25px;
                height: 25px;
                margin-inline-end: 16px;
            }
        }
    }

    @include for-details-narrow-layout  {
        .card-details-header {
            margin: 20px 0px 8px 16px;
            .header-content {
                textarea {
                    width: 100%;
                }
            }
        }

        .card-details {
            margin: 0 auto;
            .card-details-main-container {
                flex-direction: unset;

                .card-details-main {
                    width: 552px;
                    margin: 16px 0px 0 16px;
                }
            }
        }
    }
}
