.home {
    background: linear-gradient(0deg, #fff, #eae6ff 100%);
    .home-container {
        padding: 0 15px;
        margin: auto;
        text-align: center;
        a {
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
        }
        .hero {
            line-height: 1.5;
            display: flex;
            padding: 112px 0 80px 0px;
            .hero-info {
                display: flex;
                flex-direction: column;
                h1 {
                    font-family: "SourceSans-Semibold";
                    line-height: 1.25;
                    font-weight: 500;
                    font-size: rem(32px);
                    margin-bottom: 8px;
                }
                p {
                    font-family: "SourceSans-Light";
                    font-weight: 600;
                    font-size: rem(20px);
                    margin-bottom: 24px;
                }
                a {
                    border-radius: 6px;
                    font-size: rem(20px);
                    line-height: rem(44px);
                    letter-spacing: 1px;
                    color: #fff;
                    background-color: #0065ff;
                    // border-radius: $borderRad1;
                    &:hover {
                        background-color: #0051cc;
                    }
                }
            }
            .hero-img {
                display: none;
            }
        }
        .product {
            line-height: 1.5;

            .product-info {
                margin-bottom: rem(24px);
            }

            h2 {
                font-family: "SourceSans-Semibold";
                font-size: rem(24px);
                line-height: 1.3;
                margin-bottom: 0.5rem;
            }
            p {
                font-family: "SourceSans-Light";
                font-weight: 600;
                font-size: rem(20px);
                margin-bottom: 24px;
                // line-height: 1.3;
            }
            a {
                font-weight: 600;
                font-size: rem(20px);
                border-radius: 6px;
                padding: 5px 15px;
                line-height: rem(44px);
                color: #0065ff;
                background-color: transparent;
                background-image: none;
                border: 1px solid #0065ff;
                &:hover {
                    color: #fff;
                    background-color: #0065ff;
                    border-color: #0065ff;
                }
            }

            img {
                width: 100%;
                box-shadow: 1px 11px 20px 0px #00000036;
            }
        }
    }
}

@media screen and (min-width: 560px) {
    .home {
        .home-container {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: 525px;
            .hero {
                align-items: center;
                min-height: 50vh;
                .hero-info {
                    a {
                        text-align: center;
                        line-height: 1.8;
                    }
                }
            }

            .product {
                img {
                    width: 90%;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .home {
        .home-container {
            text-align: unset;
            text-align: left;
            max-width: 768px;
            .hero {
                min-height: 85vh;
                .hero-info {
                    margin-right: 25px;
                    h1 {
                        font-size: rem(42px);
                    }
                }
                .hero-img {
                    display: block;
                    img {
                        vertical-align: middle;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            .product {
                text-align: center;
                padding: 54px 0;
                h2 {
                    font-size: rem(28px);
                }
                p {
                    padding: 0 35px;
                }
            }
        }
    }
}
@media screen and (min-width: 960px) {
    .home {
        .home-container {
            max-width: 960px;
            .hero {
                .hero-info {
                    h1 {
                        font-size: rem(48px);
                    }
                    padding: 0 rem(15px);
                    margin-right: 95px;
                    max-width: 56%;
                    a {
                        font-size: rem(28px);
                        line-height: 2;
                        width: 50%;
                    }
                }
            }
            .product {
                h2 {
                    font-size: rem(36px);
                }
            }
        }
    }
}
@media screen and (min-width: 1140px) {
    .home {
        .home-container {
            max-width: 1140px;
        }
    }
}
