.labels-pop-over {
    width: 20rem;
    max-height: calc(100vh-40px);
    .label-pop-over-preview {
        align-items: center;
        border-radius: 3px;
        cursor: pointer;
        font-weight: 700;
        min-height: rem(20px);
        padding: rem(6px) rem(12px);
        position: relative;
        transition: padding 85ms, margin 85ms, box-shadow 85ms;
        flex-grow: 1;
        .icon-check {
            line-height: 1rem;
        }
        &:hover {
            padding-inline-start: 14px;
            margin-left: 4px;
            // box-shadow: -8px 0
        }
    }

    li {
        margin: 0 0 rem(4px);
        div:last-child {
            svg {
                cursor: pointer;
            }
            padding: 8px;
        }
    }
    .secondary-btn {
        width: 100%;
        margin: 1rem 0;
    }

}
.label-add-content {
    width: 20rem;
}



