.card-details-labels {
    .labels-container {
        .label {
            cursor: pointer;
            color: $clr2;
            border-radius: 3px;
            box-sizing: border-box;
            display: block;
            float: left;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            min-width: 40px;
            padding: 0 12px;
            width: auto;
            &:hover {
                opacity: 0.8;
            }
        }
        .secondary-btn {
            display: flex;
            border-radius: $borderRad1;
            border: none;
            justify-content: center;
            align-items: center;
            width: 32px;
            padding: 0;
            height: 32px;
            svg {
                width: 16px;
                height: 16px;
                path {
                    color: $clr4;
                }
            }
        }
    }
}
