@font-face {
    font-family: SourceSans-Bold;
    src: url(../../font/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: SourceSans-Regular;
    src: url(../../font/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SourceSans-Light;
    src: url(../../font/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: SourceSans-Semibold;
    src: url(../../font/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: fontawesome-far;
    src: url(../../font/webfonts/fa-regular-400.ttf);
}

@font-face {
    font-family: fontawesome-fas;
    src: url(../../font/webfonts/fa-solid-900.ttf);
}
